<!DOCTYPE html>
<html>
    <head>
        <title> Rastreadores</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <body>
        <div class="container-fluid">
            <h2>Rastreadores</h2>
            <table class="table table-strapped">
              <thead>
                <th>ID</th>
                <th>IMEI</th>
                <th>LATITUDE</th>
                <th>LONGITUDE</th>
              </thead>
              <tbody>
                {%for r in rastreador%}
                <tr>
                 <td>{{r.id_track}}</td>
                 <td>{{r.imei}}</td>
                 <td>{{r.latitude}}</td>
                 <td>{{r.longitude}}</td>
                </tr>
                {%endfor%}
              </tbody>
            </table>
            <table class="table table-strapped">
              <thead>
                <th>ICCID</th>
                <th>LINHA</th>
                <th>OPERADORA</th>
              </thead>
              <tbody>
                {%for c in chip%}
                <tr>
                 <td>{{c.iccid}}</td>
                 <td>{{c.linha}}</td>
                 <td>{{c.operadora}}</td>
                </tr>
                {%endfor%}
              </tbody>
            </table>
        </div>
    </body>
</html>