* {
    padding:0;
    margin:0;
  }

.main {
    width: 100vw;
    height: 100vh;
    
    background: -webkit-linear-gradient(to bottom, #fff, #000);
    background: -o-linear-gradient(to bottom, #fff, #000);
    background: -moz-linear-gradient(to bottom, #fff, #000);
    background: linear-gradient(to bottom, #fff, #000);
}
.container-rastreador {
    top: 20vh;
    width: 80vw;
    height: 60vh;
    border-radius: 20px;
    background: #dadada;
    position: relative;
    padding: 20px;
    z-index: 1;
}

.container-logo img {
    margin: 0px;
    width: 200px;
    height: 200px;
    position: relative;
}

.container-logo {
    width: fit-content;
    padding: 0px;
}

.container-input {
    padding: 5%;
    margin: 0px;
}

.container-input input {
    width: 100%;
}


.container-button button {
    margin: 10px;
}